.column {
    float: left;
    width: 100%;
    height: 100px;
    background-color: #9370db;
    margin: 10px;
}

@media (min-width: 992px) {
    .column {
        width: 30%;
    }
}

@media (max-width: 991px) {
    .column {
      margin: 10px 0;
    }
}